[submodule "INFO257_TAREA4_BARRA_VASQUEZ"]
	path = INFO257_TAREA4_BARRA_VASQUEZ
	url = https://github.com/hiawvp/INFO257_TAREA4_BARRA_VASQUEZ
[submodule "INFO257_TAREA3_BARRA_VASQUEZ-"]
	path = INFO257_TAREA3_BARRA_VASQUEZ-
	url = https://github.com/hiawvp/INFO257_TAREA3_BARRA_VASQUEZ-
